body {
  text-align: center;
  font-family: Arial, sans-serif;
}

#piano {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
  margin-top: 20px;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 180px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s;
}

.white {
  background: white;
}

.black {
  background: black;
  color: white;
  width: 35px;
  height: 120px;
  position: absolute;
  margin-left: -17px;
  z-index: 2;
}

.active {
  background: yellow;
}
